*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 0 6rem;
}
.profile-image {
    
    height: 520px;
    overflow: hidden;
}
.hero{
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.logo {
    max-height: 100px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: black;
    position: relative;
    padding: 5px, 0;
}

nav ul li a:hover{
    color: red;
}

nav ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: red;
    transition: .3s;
    bottom: 0;
}

nav ul li a:hover:after{
    width: 100%;
    margin: -5px 0;
}

.bn {
    color: white;
    font-size: 16px;
    text-transform: none;
    background: red;
    background-size: 152% 100%;
    border-radius: 500px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 500;
    border: 2px solid;
    padding: 16px 40px;
}

.bn:hover{
    background: transparent;
    border-color: red;
    color: red;
    transition: .5s;
}



.content .title{
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg,#1c99fe 20.69%, #7644ff 65.19%, rgb(251, 110, 178) 5%);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h1{
    color: black;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    
    width: 100%;
}

.content h1 span{
    color: red;
}

.content p{
    width: 55%;
    color: gray;
    margin-top: 25px;
    margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
    nav ul li, .profile-image{
        display: none;
    }

    .contact-btn{
        display: none;
    }
    .logo{
        display: table;
        margin: auto;
    }
    .wrapper{
        text-align: center;
    }
    .content h1{
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 20px;
        
    }
    .content p{
        margin: auto;
        padding-top: 20px;
        padding-bottom: 24px;
        display: inline;
    }
    .bn {
        margin-top: 30px;
        padding: 12px 16px;
        font-size: 13px;
    }
}
 
.about{
    width: 80%;
    padding: 100px 0px;
}
.about img{
    height: auto;
    width: 300px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: red;
    font-size: 75px;
    margin-bottom: 20px;
}
.about-text h5{
    
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
}
span{
    color: red;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
@media screen and (max-width: 480px) {
    .about img {
        height: auto;
        width: 160px;
    }
    .about-text h2{
        color: red;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .about-text h5{
    
        letter-spacing: 1px;
        font-size: 11px;
        margin-bottom: 15px;
    }
    .about-text p{
        line-height: 18px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .about-text{
        width: 150px;
    }
    .main{
        align-items: center;
    }
}
